@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  @apply text-slate-600;
}

// typography
.text-body1 {
  @apply text-sm leading-5;
}

.text-body1-m {
  @extend .text-body1;
  @apply font-medium;
}
.text-body1-sm {
  @extend .text-body1;
  @apply font-semibold;
}

@layer base {
  input,
  textarea {
    @apply shadow-[0_0_0_2px_theme('colors.blue.700')];
  }
}

@layer components {
  .button {
    @apply hover:bg-neutral-200 active:bg-neutral-300;
  }
}
